<div *ngIf="appService.header" class="header">
  <mat-toolbar color="primary">
    header
  </mat-toolbar>
</div>

<div *ngIf="appService.left" class="left">
  <mat-toolbar color="primary">
    left
  </mat-toolbar>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<div *ngIf="appService.right" class="right">

</div>

<div *ngIf="appService.footer" class="footer">

</div>

<button mat-fab (click)="information()" color="primary" class="action">
  <mat-icon>info</mat-icon>
</button>
